<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/example.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script type="text/javascript" src="scripts/example.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="scrollerhtml"> scrollable html</div>
				</div>
			</div>
		</div>


		<script id="component-template" type="javscript/template">
			<div id="<%= config.html.dom_id %>" class="<%= config.html.dom_id %>">
				<% for(x in content){
					var media_container="",
						content_container="", 
						left_content="",
						right_content=""; 

					content_container='<article class="'+config.html.dom_class_side +' ' + config.html.dom_class_side_left+'">'+content[x].content+'</article>';

					media_container='<figure class="'+config.html.dom_class_side  +' ' + config.html.dom_class_side_right +'">'+content[x].media+'</figure>';

					if (x%2==0){
						right_content=media_container;
						left_content=content_container;
					}
					else{
						left_content=media_container;
						right_content=content_container;
					}

					%>
					<section class="p_c_lvs-section <%= config.html.dom_id %>">
						<%- left_content %>
						<%- right_content %>
					</section>
					<%
				}%>
			</div>
		</script>

	</body>
</html>