<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/example.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<script type="text/javascript" src="scripts/example.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="scrollerhtml"> scrollable html</div>
				</div>
			</div>
		</div>


		<script id="component-template" type="javscript/template">
			<div id="<%= ui_list_view_on_scroll.dom_id %>" class="<%= ui_list_view_on_scroll.dom_class %>">
				<% for(x in ui_list_view_on_scroll.listItems){
					%>
					<section class="<%= ui_list_view_on_scroll.dom_section %>">
						<article class="<%= ui_list_view_on_scroll.dom_class_side %> <%= ui_list_view_on_scroll.dom_class_side_left %>">
							<%- ui_list_view_on_scroll.listItems[x].left %>
						</article>
						<figure class="<%= ui_list_view_on_scroll.dom_class_side %> <%= ui_list_view_on_scroll.dom_class_side_right %>">
							<%- ui_list_view_on_scroll.listItems[x].right %>
						</figure>
					</section>
					<%
				}%>
			</div>
		</script>

	</body>
</html>